{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    {% include 'user_account/includes/registered_nav_bar.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="center">Journey Details</h3>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col">
                <h4 class="center">Search Previous Journeys</h4>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}