{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    {% include 'user_account/includes/registered_nav_bar.html' %}
{% endblock %}

{% block content %}
    <!-- <div class="overlay"></div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="center">Personal Info</h3>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-md-6">
                <h4 class="center">Contact Details</h4>
            </div>
            <div class="col-md-6">
                <h4 class="center">Address Details</h4>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        First Name: 
                        <br/>
                        Last Name: 
                    </div>
                    <div class="col-md-4">
                        <strong>{{ fname }}</strong>
                        <br>
                        <strong>{{ sname }}</strong>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" action="">Change Details</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        Username: 
                    </div>
                    <div class="col-md-4">
                        <strong>{{ uname }}</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>Please note: </strong>
                        <p>Username cannot be changed!</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        User Email: 
                        <br>
                        User Phone: 
                    </div>
                    <div class="col-md-4">
                        <strong>{{ uemail }}</strong>
                        <br>
                        <strong>{{ uphone }}</strong>
                    </div>
                    <div class="col-md-4">
                        <button>Change Details</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="vert-align col-md-4 offset-4">
                        <button class="" type="submit" action="{% url 'account_reset_password' %}">Change Password</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form enctype="multipart/form-data" action="{% url 'profile' %}" method="POST" id="address-form">
                    {% csrf_token %}
                    <fieldset class="">
                        <!-- <legend class="">Street</legend> -->
                        {{ form.street1 | as_crispy_field }}
                        {{ form.street2 | as_crispy_field }}
                        {{ form.street3 | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset class="">
                        <!-- <legend class="">Town / City</legend> -->
                        {{ form.town_city | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset class="">
                        <!-- <legend class="">County</legend> -->
                        {{ form.county | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset class="">
                        <!-- <legend class="">Post Code</legend> -->
                        {{ form.post_code | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset class="">
                        <!-- <legend class="">Country</legend> -->
                        {{ form.country | as_crispy_field }}
                    </fieldset>
                    <!-- {{ form|crispy}} -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}