{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-md-10 offset-1">
            <h1>{% trans "Sign Up" %}</h1>
            <p>{% blocktrans %}Already have an account? Please <a href="{{ login_url }}">login here</a>.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-1">
            <button class="accordion">Log In Details</button>
            <div class="panel">
                <form enctype="multipart/form-data" action="{% url 'account_signup' %}" class="signup" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend></legend>
                        {{ form1.username | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend></legend>
                        {{ form1.email | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend></legend>
                        {{ form1.password1 | as_crispy_field}}
                        {{ form1.password2 | as_crispy_field}}
                    </fieldset>
                    <hr>
                    <!-- {{ form|crispy }} -->
                    <!-- <button class="btn btn-primary" type="submit">Sign Up</button> -->
                </form>
            </div>
            <button class="accordion">Vehicle Details</button>
            <div class="panel">
                <form enctype="multipart/form-data" action="{% url 'account_signup' %}" class="signup" method="POST">
                    <fieldset>
                        {{ form2.lpn | as_crispy_field }}
                    </fieldset>
                    <hr>
                </form>
            </div>
            <button class="accordion">Contact Details</button>
            <div class="panel"></div>
            <button class="accordion">Payment Details</button>
            <div class="panel"></div>
        </div>
    </div>
{% endblock %}