{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-md-10 offset-1">
            <h2>{% trans "Sign Up" %}</h2>
            <p>{% blocktrans %}Already have an account? Please <a href="{{ login_url }}">login here</a>.{% endblocktrans %}</p>
            <p>To create an account, please fill in your details below.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-1">
            <!-- {{ form2.lpn | as_crispy_field}}
            <button class="btn btn-check-lpn" id="lpn_check" method="GET" type="submit">Check Vehicle Information</button> -->
            <form enctype="multipart/form-data" class="signup center" method="POST">
                {% csrf_token %}
                <button class="accordion" id="login">Log In Details</button>
                <div class="panel">
                    <fieldset>
                        <legend></legend>
                        {{ form1.username | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend></legend>
                        {{ form1.email | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend></legend>
                        {{ form1.password1 | as_crispy_field}}
                        {{ form1.password2 | as_crispy_field}}
                    </fieldset>
                </div>
                <button class="accordion" id="vehicle">Vehicle Details</button>
                <div class="panel" id="vehicle_panel">
                    <p class="vehicle-details">
                        Please enter your vehicle registration number and click 
                        the "Check Vehicle Details" button to confirm. 
                        <b>Please Note:</b> only vehicles registered in the Republic of 
                        Ireland can be registered on TOLL.ie.
                    </p>
                    <fieldset>
                        {{ form2.lpn | as_crispy_field}}
                        <table class="center" id="lpn_table"></table>
                        <button class="btn btn-check-lpn" id="lpn_check">Check Vehicle Information</button>                       
                    </fieldset>
                </div>
                <button class="accordion">Contact Details</button>
                <div class="panel">
                    <fieldset>
                        {{ form1.first_name | as_crispy_field }}
                        {{ form1.last_name | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        {{ form3.street1 | as_crispy_field }}
                        {{ form3.street2 | as_crispy_field }}
                        {{ form3.street3 | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        {{ form3.town_city | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        {{ form3.county | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        {{ form3.post_code | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        {{ form3.country | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        {{ form3.phone | as_crispy_field }}
                    </fieldset>
                </div>
                <div class="row">
                <hr>
                <div class="col-md-12 center">
                    <p>By clicking the sign up button below you agree to the 
                        TOLL.ie <a href="#">Terms and Conditions</a>
                    </p>
                    <button class="btn btn-sign-up center" action="{% url 'account_signup' %}" type="submit" method="POST">Sign Up</button>
                </div>
                <hr>
            </form>
        </div>
    </div>
{% endblock %}

{% block post_load_js %}
    {{ block.super }}
    <script src="{% static 'js/accordion.js' %}"></script>
    <script src="{% static 'js/check_uname.js' %}"></script>
    <script src="{% static 'js/check_lpn.js' %}"></script>
{% endblock %}