{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    {% include 'user_account/includes/registered_nav_bar.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="center">Vehicle Details</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-6">
            <h4 class="center">Active Vehicles</h4>
        </div>
        <div class="col-md-6">
            <h4 class="center"> Add a Vehicle</h4>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                {% include 'user_account/includes/active_vehicle_table.html' %}
                <hr>
            </div>
        </div>
        <div class="col-md-6">
            <p class="vehicle-details">
                Please enter your vehicle registration number and click 
                the "Check Vehicle Details" button to confirm. 
                <b>Please Note:</b> only vehicles registered in the Republic of 
                Ireland can be registered on TOLL.ie.
            </p>    
            <form id="vehicle_form" enctype="multipart/form-data" action="{% url 'addvehicle' %}" method="POST">
                {% csrf_token %}
                {{ form2.lpn | as_crispy_field}}
                <!-- <button class="btn btn-check-lpn btn-center btn-bottom" id="lpn_check" style="display: block;">Check Vehicle Information</button> -->
                <!-- <button class="btn btn-add-lpn btn-center btn-bottom" type="submit" id="add_vehicle" style="display: none;">Add Vehicle</button> -->
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-remove-lpn btn-center btn-danger" type="submit" form="active_vehicle_form" id="lpn_remove" style="display: block;">Remove Selected Vehicles</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-check-lpn btn-center btn-bottom" id="lpn_check" style="display: block;">Check Vehicle Information</button>
            <button class="btn btn-add-lpn btn-center btn-bottom" type="submit" form="vehicle_form" id="add_vehicle" style="display: none;">Add Vehicle</button>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-6">
            <h4 class="center">Inactive Vehicles</h4>
        </div>
        <div class="col-md-6"></div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% include 'user_account/includes/inactive_vehicle_table.html' %}
        </div>
        <div class="col-md-6"></div>
    </div>
    {% include 'user_account/includes/vehicledetails.html' %}
{% endblock %}

{% block post_load_js %}
    {{ block.super }}
    <script src="{% static 'js/check_lpn.js' %}"></script>
{% endblock %}