{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    {% include 'user_account/includes/registered_nav_bar.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="center">Vehicle Details</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-6">
            <h4 class="center">Active Vehicles</h4>
        </div>
        <div class="col-md-6">
            <h4 class="center"> Add a Vehicle</h4>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th class="center" style="width: 19%">LPN</th>
                            <th class="center" style="width: 19%">Make</th>
                            <th class="center" style="width: 19%">Model</th>
                            <th class="center" style="width: 19%">Class</th>
                            <th class="center" style="width: 19%">Date Added</th>
                            <th class="center" style="width: 5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in vehicles %}
                            <tr>
                                <td class="center">{{ v.lpn }}</td>
                                <td class="center">{{ v.make }}</td>
                                <td class="center">{{ v.model }}</td>
                                <td class="center">{{ v.lpn_class }}</td>
                                <td class="center">{{ v.date_added | date:"d/m/Y" }}</td>
                                <td><input type="checkbox"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                
            </div>
        </div>
        <div class="col-md-6">
            <form enctype="multipart/form-data" action="" method="POST" id="vehicle-form">
                {% csrf_token %}
                <p class="vehicle-details">
                    Please enter your vehicle registration number and click 
                    the "Check Vehicle Details" button to confirm. 
                    <b>Please Note:</b> only vehicles registered in the Republic of 
                    Ireland can be registered on TOLL.ie.
                </p>
                <fieldset>
                    {{ form2.lpn | as_crispy_field}}
                    <button class="btn btn-check-lpn" id="lpn_check">Check Vehicle Information</button>
                </fieldset>
            </form>
        </div>
    </div>
    {% include 'user_account/includes/vehicledetails.html' %}
{% endblock %}

{% block post_load_js %}
    {{ block.super }}
    <script src="{% static 'js/check_lpn.js' %}"></script>
{% endblock %}