{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row no-gutters">
    <div class="col">
        <ul id="nav" class="navbar">
            <li class="col-3 nav-item nav-ui-colour-1">
                <a href="{% url 'account_login' %}" class="">
                    <div class="row">
                        <div class="col">
                            <i class="fa-solid fa-right-to-bracket" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>Log in</span>  
                        </div>
                    </div>
                </a>
            </li>
            <li class="col-3 nav-item nav-ui-colour-2">
                <a href="{% url 'signup' %}" class="">
                    <div class="row">
                        <div class="col">
                            <i class="fa-solid fa-user-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="no-dec">Sign up</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="col-3 nav-item nav-ui-colour-3">
                <a href="#" class="">
                    <div class="row">
                        <div class="col">
                            <i class="fa-solid fa-cash-register" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>Make a Payment</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="col-3 nav-item nav-ui-colour-4">
                <a href="#" class="">
                    <div class="row">
                        <div class="col">
                            <i class="fa-solid fa-comments" aria-hidden="true"></i>        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>Contact us</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3 section-side h-100">
        <h2>Information:</h2>
        <ul class="side-nav">
            <li class="side-nav-button">
                <a href="#">Who are we?</a>
            </li>
            <li class="side-nav-button">
                <a href="#">How it works?</a>
            </li>
            <li class="side-nav-button">
                <a href="#">Where are the Tolls?</a>
            </li>
            <li class="side-nav-button">
                <a href="#">FAQs</a>
            </li>
            <li class="side-nav-button">
                <a href="#">Site Information</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 section-main">
        <h3>Who are we?</h3>
        <p>
            Toll.ie is a startup company, with the aim of 

        </p>
        <h3>How it works?</h3>
        <p>
            There are a number of ways to use Toll.ie:
            <ul>
                <li>
                    Infrequent users of toll roads in Ireland can use toll.ie 
                    can use the pay-a-toll (or pay-a-penalty) option to pay 
                    one or more tolls. The pay-a-toll option can also be used 
                    to pay forfuture journeys.
                </li>
                <li>
                    Frequent Users of the toll roads in Ireland can sign up to 
                    Toll.ie, register their Personal, Vehicle, and Payment 
                    details. This allows Toll.ie to pay for tolls as they are 
                    made, or charge for tolls on a monthly basis in arrears.
                </li>
                <li>
                    Toll.ie plans to privide a prepaid service in the future 
                    which would allow for credit to be associated with the 
                    user's vehicle(s), and charges would be taken from this.
                    Keep an eye on Toll.ie, for further information.
                </li>
            </ul>
        </p>
        <h3>Where are the Tolls?</h3>
        <p>
            There are 11 Toll Points on Irish roads. See blow:
        </p>
        <img src="/media/tolls_501x590.jpg" alt="">
        <p>
            Please Note: The M50 Toll Point is a free flow system, and as a 
            result there are not booths in which to pay. The recording 
            equipment captures the registration plate of the vehicle, and 
            charges are then calculated on the vehicle class. Payment can be 
            made on the freeflow.ie website, in any retail outlet displaying
            the payment partner logo, or by calling the freeflow call centre 
            on 01 2345 6789
        </p>
    </div>
</div>
{% endblock %}
