<div class="modal" tabindex="-1" role="dialog" id="vehicleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="vehicle_title"></h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please make sure the details below match your vehicle:</p>
                <ul class="vehicle-modal">
                    <li id="vehicle_make"></li>
                    <li id="vehicle_model"></li>
                    <li id="vehicle_colour"></li>
                    <li id="vehicle_class"></li>
                </ul>
                <p>
                    If the details are correct, click "Confirm" below, 
                    otherwise click "Re-Enter LPN". 
                </p>
                <p id="signup" style="display: none;">
                    <strong>Please Note:</strong> Only 1 vehicle can be 
                    added during account setup. Additional vehicles can be 
                    added by logging in to the account once created.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-check-lpn" data-bs-dismiss="modal">Confirm</button>
                <button id="re-enter" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Re-Enter LPN</button>
            </div>
        </div>
    </div>
</div>